<!DOCTYPE html>
<html>
    <head>
        <title>API-POO</title>

         <link rel="stylesheet" type="text/css"  href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css"  href="assets/css/style.css">
    </head>
    <body>
        <div class="container-fluid h-100 bg-info">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="container bg-light col-4 p-4">
                     <ul class="list-group">
                        <li class="list-group-item"><a class="btn btn-primary"href="cliente/cadastro">Cadastro de cliente</a></li>
                        <li class="list-group-item"><a class="btn btn-primary" href="cliente/login">Login de Cliente</a></li>
                        <li class="list-group-item"><a class="btn btn-primary" href="cliente/validar-token">Validar token de autenticação (cliente)</a></li>

                        <li class="list-group-item"><a class="btn btn-dark" href="cliente/novo-pedido">Fazer pedido</a></li>
                        <li class="list-group-item"><a class="btn btn-dark" href="cliente/listar-pedidos">Meus pedidos</a></li>

                         <li class="list-group-item"><a class="btn btn-warning" href="funcionario/login">Login de Funcionário</a></li>
                        <li class="list-group-item"><a class="btn btn-warning" href="funcionario/validar-token">Validar token de autenticação (funcionário)</a></li>
                        <li class="list-group-item"><a class="btn btn-warning" href="produto/adicionar">Adicionar novo produto</a></li>
                          <li class="list-group-item"><a class="btn btn-warning" href="/produto">Ver lista de produtos</a></li>
                    </ul>
                </div>
            </div>
        </div>
      
    </body>
</html>