<!DOCTYPE html>
<html>
    <head>
        <title>API-POO</title>

         <link rel="stylesheet" type="text/css"  href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css"  href="/assets/css/style.css">
    </head>
    <body>

         <div class="container-fluid h-100 bg-info">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="container bg-light col-4 p-4">
                     <ul class="list-group">
                        <li class="list-group-item"><a class="btn btn-primary"href="sem-tarja/adicionar">Sem tarja</a></li>
                        <li class="list-group-item"><a class="btn btn-dark" href="tarja-preta/adicionar">Tarja preta</a></li>
                        <li class="list-group-item"><a class="btn btn-danger" href="tarja-vermelha/adicionar">Tarja vermelha</a></li>
                        <li class="list-group-item"><a class="btn btn-warning" href="tarja-amarela/adicionar">Tarja amarela</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>