<!DOCTYPE html>
<html>
    <head>
        <title>API-POO</title>

         <link rel="stylesheet" type="text/css"  href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css"  href="../assets/css/style.css">
    </head>
    <body>

         <div class="container-fluid h-100 bg-info">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="container bg-light col-4 p-4">
                     <ul class="list-group">
                        <li class="list-group-item"><a class="btn btn-primary"href="produto/todos">Todos os produtos</a></li>
                        <li class="list-group-item"><a class="btn btn-primary" href="produto/remedio">Remédios</a></li>
                        <li class="list-group-item"><a class="btn btn-primary" href="produto/cosmetico">Cosméticos</a></li>
                        <li class="list-group-item"><a class="btn btn-primary" href="produto/variado">Variados</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>