<!DOCTYPE html>
<html>
    <head>
        <title>API-POO</title>

         <link rel="stylesheet" type="text/css"  href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css"  href="../assets/css/style.css">
    </head>
    <body>
        <div class="container-fluid h-100 bg-info">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="container bg-light col-4 p-4">
                    <form id="new-order" action="../customers/orders" method="post">
                        <h1>Fazer pedido</h1>
                        <div class="form-group">
                            <label>Token</label>
                            <input class="form-control" name="x-auth">
                        </div>

                        <input class="btn btn-primary" type="submit" value="Enviar">
                    </form>
                </div>
            </div>
            
                    <table id="products-table" class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Adicionar ao pedido</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Data de validade</th>
                        <th scope="col">Fabricante</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Composição</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Contra Indicações</th>   
                        <th scope="col">Efeitos colaterais</th>   
                        <th scope="col">Genérico de</th>   
                        <th scope="col">Desconto</th>   
                        <th scope="col">Tipo de produto</th>
                        <th scope="col">Quantidade disponível</th>   
                        </tr>
                    </thead>
                    <tbody>
                        {{#list-to-order products}}{{/list-to-order}}
                    </tbody>
                </table>
        </div>

        <script src="/assets/js/jquery.js"></script>
        <script src="/assets/js/helpers.js"></script>
    </body>
</html>